html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #222;
    height: 100%;
}

#page-wrapdiv {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*NAVBAR CSS*/

#nav-container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 6px;
    height: 60px;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

#nav-container:first-child {
    margin-left: 15px;
}

.nav-link {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    color: #222;
}

#services {
    display: inline-block;
    flex-grow: 1;
    transition: box-shadow 250ms;
}

#services-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    float: right;
    padding: 4px 4px 4px 32px;
    height: 48px;
    line-height: normal;
}

#nav-r-app-list {
    visibility: hidden;
    display: none;
}

#nav-r-text {
    display: flex;
    padding: 0 8px 0 8px;
}

.services-link {
    padding: 0 8px 0 8px;
    color: inherit;
    font-size: 13px;
}

#nav-r-menu {
    display: flex;
    float: right;
    position: relative;
    line-height: normal;
    white-space: nowrap;
    align-items: center;
}

#apps-button-container {
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
}

#apps-button {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    padding: 8px;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#apps-button:hover, #apps-button:active {
    background-color: rgba(60,64,67,0.08);
    outline: none;
    border-radius: 50%;
}

.dots {
    color: #5f6368;
    fill: currentColor;
    cursor: pointer;
}

#sign-in {
    display: inline;
    vertical-align: middle;
}

#sign-in-button {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    background: #1a73e8;
    border: 1px solid transparent;
    font-weight: 550;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    outline: none;
    margin: 0 8px;
}

#sign-in-button:hover, #sign-in-button:active {
    background: #2b7de9;
    -moz-box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

/*LOGO CSS*/
#logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

#logo-container {
    flex-grow: 1;
    box-sizing: content-box;
    height: 100%;
    margin-top: auto;
    max-height: 92px;
    position: relative;
}

.glogo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}
